body {
  background-color: #192026;
}

h1 {
  font-family: 'Roboto';
  color: #F5F5F5;
}

h2 {
  font-family: 'Roboto';
  color: #F5F5F5;
}

p {
  font-family: 'Roboto';
  color: #F5F5F5;
}

.card {
  background-color: #192026;
  
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
