body {
  background-color: #192026;
  min-height: 100vh;
}

.map {
  height: 400px;
  width: 300px;
  position: sticky;
  top: 0;
  right: 0;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

h1, h2, p {
  font-family: 'Roboto';
  color: #F5F5F5;
}

.index-map-cont {
  display: flex;
  gap: 10px;
}

.bunker {
  display: flex;
  background-color: #192026;
  border: 2px;
  border-style: solid;
  border-color: #FFDFE1;
  text-align: center;
  height: 300px;
  justify-content: space-evenly;
}

.bunker-index{
  padding: 0 50px;

  img{
    height: 200px;
    width: 22vw;
    object-fit: cover;
  }

  a{
    text-decoration: none;
  }

  #bunker-index-info{
    min-height: 186px;
    width: 22vw;
    border-bottom: 1px solid #FFDFE1;
    border-left: 1px solid #FFDFE1;
    border-right: 1px solid #FFDFE1;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.b_title_info {
  color: #8E5AFB;
  -webkit-text-stroke: 1px #FFDFE1;
}

.bunker_price {
  text-align: right;
}

.cards-index {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index-map-cont {
  margin-top: 45px;
}

.map-index{
  object-fit: cover;
  width: 36%;
  height: 72vh;
  margin-bottom: 50px;
}

.form-index{
  margin: 0 50px;

  .btn-primary{
    background-color: #8E5AFB;
    border: #8E5AFB;
  }
}
