// Specific CSS for your home-page

.banner {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  height: 749px;
  padding: 100px 0;
  font-size: xx-large;
}

.title {
  color: #ffffff;
  font-size: 72px;
  width: 52vw;
  height: 25vh;
  letter-spacing: 0.25em;
  text-shadow: 0px 4px 10px #8E5AFB;
  font-family: 'Roboto', sans-serif;
  padding-left: 50px;
  margin: 0;
  line-height: 82px;
  font-weight: 900;
}

.custom-select {
  background: rgb(2, 2, 2);
  color: #ffffff;
  width: 300px;
  height: 50px;
  font-size: large;
  text-align-last:left;
  padding-left: 12px;
}


form > #location{
  margin-left: 50px;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  letter-spacing: 0.1em;
  width:25vw;
}

input.btn.btn-dark{
  font-size: 14px;
}
