// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  height: 800px;
  padding: 200px 0;
  font-size: xx-large;
}

.title {
  color: rgb(255, 255, 255)
}

p{
  text-decoration: none;
}
