.form-label, .form-check-label{
  color:white;
}

.form-actions{
  color:white;
  background-color: #8E5AFB;
  width: 8vw;
  text-align: center;
}


.login-signup > a{
  text-decoration: none;
  color:white;
}
