.body {
  min-height:78vh;
}

.container_profile {
  display: flex;
}

.container_profile .container_profile_text {
  border: 1px solid green;
  padding: 30px;
}

.container_profile .container_p_text {
  border: 1px solid green;
  padding: 30px;
  width: 50%;

}
