<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="#">About Us</a>
    <a href="#">Terms & Conditions</a>
  </div>
</div>
