<h1>bunkers index</h1>

<ul><% @bunkers.each do |bunker| %>
  <li><%= bunker.title %></li>
  <li><%= bunker.capacity %></li>
  <li><%= bunker.location %></li>
  <li><%= bunker.price %></li>
<% end %>
</ul>
