<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "albertos_background_image" %>)">
  <div class="container">
    <h1 class="title">Bonkers for Bunkerz</h1>

    <%= form_with url: bunkers_path, method: :get, class: "d-flex" do %>
      <%= select_tag(:location, options_for_select([['Berlin'], ['Madrid']]))  %>
      <%= submit_tag "Search", class: "btn btn-dark"%>
    <% end %>


  </div>
</div>

<%# need to add when submit redirect to input path with location %>
