.container {
  color: rgb(255, 255, 255)
}

.bunker_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid green;
}

.bunker_info .bunker_title {
  color: #8E5AFB;
}

.form-group{
  align-content: center;
  border: 1px solid green;
  margin-top: 110px;
  width: 50%;
}

.info {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  margin-bottom: 20px;
}

.info .bunker_feature {
  border: 1px solid green;
  width: 50%;
  text-align: left;
}

.second_container {
  display: flex;
  justify-content: space-between;
}
