h1, h2, h3, p{
  font-family: "roboto";
}
.container {
  color: rgb(255, 255, 255)
}

.bunker_card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bunker_card .bunker_info {
  width: 50%;
}

.bunker_card .bunker_info > img {
  object-fit: cover;
  width: 88%;
  height: 68%;
}

.bunker_card .bunker_title {
  color: #8E5AFB;
  padding-left: 24px;
}

.form-group-bunker-date {
  align-content: center;
  margin-top: 200px;
  width: 50%;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info .bunker_feature {
  width: 50%;
  text-align: left;
}

.second_container {
  display: flex;
  justify-content: space-between;
}

.review_map_card {
  width: 44%;
}

.display {
  color: rgb(0, 0, 0);
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.display_user {
  width: 35%;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #8E5AFB;
  color: white;
  background-color: #8E5AFB;
  margin-bottom: 10px;
  height: 9vh;
  padding: 10px;
}

.display_rating {
  padding: 10px;
  border: 1px solid #FFDFE1;
  background-color: #FFDFE1;
  border-radius: 5px;
  height: 9vh;
}

.display_rating > p{
  text-align: center;
  margin-left: 415px;
}

.display_rating .rating .rating_number {
  color: rgb(0, 0, 0);
  text-align: right;
  margin-top: -25px;
}

.bunker_info > img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.profile_pic_host > img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}
h1{
  padding-left: 26px;
}

select#review_rating{
  padding: 5px;
  font-family: 'roboto';
  margin-left: 5px;
  border: 1px solid #8E5AFB;
}

input{
  border: 1px solid #8E5AFB;
  background-color: #8E5AFB;
  color: white;
  padding: 10px;
  font-family: 'roboto';
  border-radius: 5px;
}

#booking_check_out_date_1i {
  border: 2px solid #8E5AFB;
}
#booking_check_out_date_2i {
  border: 2px solid #8E5AFB;
}
#booking_check_out_date_3i {
  border: 2px solid #8E5AFB;
}

#booking_check_in_date_1i {
  border: 2px solid #8E5AFB;
}
#booking_check_in_date_2i {
  border: 2px solid #8E5AFB;
}
#booking_check_in_date_3i {
  border: 2px solid #8E5AFB;
}
