.container {
  color: rgb(255, 255, 255)
}

.bunker_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bunker_info .bunker_title {
  color: #8E5AFB;
}

.form-group{
  margin-top: 110px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid green;
  margin-bottom: 20px;
}

.second_container {
  display: flex;
  justify-content: space-between;
}
