.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
}

.navbar-collapse .nav-link {
  color: rgb(255, 0, 255)
}

.navbar-lewagon .text-logo {
  color: rgb(255, 0, 255);
  box-sizing: border-box;
  font-style: normal;
}
