
.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
}

.navbar-collapse .nav-link {
  color: #8E5AFB;
}

.navbar-lewagon .text-logo {
  color: #8E5AFB;
  box-sizing: border-box;
  font-style: normal;
  margin:auto;
}

#bunkerz-text > a > img{
  height: 100%;
  width: 193px;
  object-fit: cover;
}
